{% extends 'base.html.twig' %}
{% block title %}Добро пожаловать!{% endblock %}
{% block body %}
    <h1>Добро пожаловать!</h1>
    <a href="{{ path('admin') }}">Редактирование справочников</a><br>
    <a href="{{ path('slave-list') }}">Оформить заказ</a>
{% endblock %}